body{
    background-color:#ceffad;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    font-style: oblique;
    color:rgb(201, 80, 146);
}
h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 55px;
    color:rgb(32, 31, 32);
}
h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    color:rgb(32, 31, 32);
}
h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    color:rgb(32, 31, 32);
}
h5 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color:rgb(32, 31, 32);
}
h6 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color:rgb(32, 31, 32);
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    font-style: italic;
    color: blueviolet
}